<template>
  <div class="card">
    <div class="card-header bg-info">
      <h5>Add New Task</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="form-group col-9">
          <input type="text" class="form-control" v-model="task" placeholder="Enter New Task">
        </div>
        <div class="form-group col-3">
          <input class="btn btn-info" @click="addTask" value="Add">
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "InputToDoItem",
  data() {
    return {
      task: ""
    };
  },
  methods: {
    addTask: function() {
      this.$root.$emit("add-task", {
        name: this.task,
        done: false
      });
       this.task = null;
    }
  }
};
</script>
<style scoped>
.label:hover {
  cursor: pointer;
}
.checked {
  text-decoration: line-through;
  color: red;
}
</style>


