<template>
    <div class="row border border-bottom-0 border-left-0 border-right-0 p-2">
      <div class="custom-control custom-checkbox">
        <input v-if="item.done" type="checkbox" class="custom-control-input" checked>
        <input v-else type="checkbox" class="custom-control-input">
        <label
          class="custom-control-label label"
          @click="checked"
          :class="item.done ? 'checked': ''"
        >{{ item.name }}</label>
      </div>

      <button type="button" class="close text-danger ml-auto" @click="deleteTask">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
</template>
<script>
export default {
  name: "ToDoItem",
  props: {
    itemProp: Object
  },
  data() {
    return {
      item: this.itemProp
    };
  },
  methods: {
    checked: function() {
      this.$root.$emit("update-item", {
        name: this.item.name,
        done: !this.item.done
      });
    },
    deleteTask: function() {
      this.$root.$emit("delete-task", this.item.name);
    }
  }
};
</script>
<style scoped>
.label:hover {
  cursor: pointer;
}
.checked {
  text-decoration: line-through;
  color: red;
}
</style>


