<template>
  <div class="border border-top-0  container">
    <ToDoItem v-for="(item) in itemsList" :key="item.name" :item-prop="item"/>
  </div>
</template>
<script>
import ToDoItem from "./ToDoItem.vue";
export default {
  name: "ToDoList",
  components: {
    ToDoItem
  },
  props:{
      todoList: Array
  },
  computed: {
    itemsList(){
       return this.todoList
    }
  }
};
</script>
<style scoped>
</style>


