<template>
  <div id="app" class="container">
    <InputToDoItem/>
    <ToDoList :todo-list="ToDoList" @update-item="update"/>
  </div>
</template>

<script>
import ToDoList from "./components/ToDoList.vue";
import InputToDoItem from "./components/InputToDoItem.vue";

export default {
  name: "app",

  components: {
    ToDoList,
    InputToDoItem
  },
  created() {
    this.$root.$on("update-item", this.update);
    this.$root.$on("add-task", this.addTask);
    this.$root.$on("delete-task", this.deleteTask);
  },
  data() {
    return {
      ToDoList: [
        {
          name: "English",
          done: false
        },
        {
          name: "Web Developer",
          done: false
        },
        {
          name: "Programming Language",
          done: false
        },
        {
          name: "Test Analyze",
          done: false
        }
      ]
    };
  },
  methods: {
    update: function(item) {
      this.ToDoList.find(e => e.name == item.name).done = item.done;
    },
    addTask: function(task) {
      this.ToDoList.push(task);
    },
    deleteTask: function(name) {
      this.ToDoList = this.ToDoList.filter(e => e.name != name);
      console.log(this.ToDoList);
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
